# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# YOLO / Ultralytics Outputs
runs/
vision/outputs/

# Dataset
# (Keep this ignored if datasets are large)
vision/data/
datasets/

# Trained Models
vision/models/*.pt

# Temporary Files
*.tmp
*.temp

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/
yolo11s.pt
*.pt

#folders
models/
next_update/
random_images/
stockfish/

# Dataset utility scripts
combine_datasets.py
convert_labels.py
merge_datasets.py